@*
 Dorset College Dublin
 BSc in Science in Computing & Multimedia
 Object-Oriented Programming - BSC20921
 Stage 2, Semester 2
 Continuous Assessment 2
 
 Student Name: Mateus Fonseca Campos
 Student Number: 24088
 Student Email: 24088@student.dorset-college.ie
 
 Submission date: 8 May 2022
*@

@model DorsetCollegeOnlineStore.Models.OrderProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Products in Order #@Model.OrderId</h1>

<div>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Price)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Subtotal
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Category)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Products!)
        {
            <tr>
                <td>
                    <img alt="Product image" width="200" height="200" src="@Html.DisplayFor(modelItem => item.Image)"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Quantities![item.Id])
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Subtotals![item.Id])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <p>Total: @Model.TotalPrice?.ToString("C")</p>
    <form asp-controller="Orders" asp-action="Index">
        <input type="submit" value="Go Back"/>
    </form>
    <br/>
    <input type="button" value="Receipt" id="print" onclick="window.print()">
</div>